RewriteBase /


<IfModule mod_rewrite.c>
    <IfModule mod_negotiation.c>
        Options -MultiViews
    </IfModule>

    RewriteEngine On

    # Redirect Trailing Slashes...
    RewriteCond %{REQUEST_URI} !^shineosv30-devpack
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)/$ shineosv30-devpack/$1 [L,R=301]

    # Handle Front Controller...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]
</IfModule>

AddType video/mp4 .mp4 .m4v
AddType video/ogg .ogv
AddType video/webm .webm
